POSTGRES_PASSWORD=playground
POSTGRES_PORT=5432
API_PORT=3000
FRONTEND_ORIGIN=http://127.0.0.1:5173
OVERPASS_URL=https://overpass-api.de/api/interpreter
SOFIAPLAN_URL=https://api.sofiaplan.bg/datasets/5
COMMONS_API_URL=https://commons.wikimedia.org/w/api.php
